{% extends 'base.html.twig' %}

{% block title %}Editar Proveedor{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Editar Proveedor</h1></div>   

    {{ include('proveedor/_form.html.twig', {'button_label': 'Actualizar'}) }}

    <a href="{{ path('app_proveedor_index') }}" class="btn-nuevo">Volver</a>

    {{ include('proveedor/_delete_form.html.twig') }}
{% endblock %}
