{% extends 'base.html.twig' %}

{% block title %}Nuevo Proveedor{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Nuevo Proveedor</h1></div>    

    {{ include('proveedor/_form.html.twig') }}

    <a href="{{ path('app_proveedor_index') }}" class="btn-nuevo">Volver</a>
{% endblock %}
