{% extends 'base.html.twig' %}

{% block title %}Nueva Presentacion{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Nueva precentacion</h1></div>    

    {{ include('presentacion/_form.html.twig') }}

    <a href="{{ path('app_presentacion_index') }}" class="btn-nuevo">Volver</a>
{% endblock %}
