<form method="post" action="{{ path('app_producto_delete', {'idProducto': producto.idProducto}) }}" onsubmit="return confirm('Confirmacion de eliminacion?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ producto.idProducto) }}">
    <button class="btn">Borrar</button>
</form>
