<form method="post" action="{{ path('app_usuarios_delete', {'idUsuario': usuario.idUsuario}) }}" onsubmit="return confirm('Confirmacion de eliminacion?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ usuario.idUsuario) }}">
    <button class="btn-neon">Borrar</button>
</form>
