{% extends 'base.html.twig' %}

{% block title %}Nueva Zona{% endblock %}

{% block body %}
<div id="header_container"><h1 class="title">Nueva zona</h1></div>  

    {{ include('zona/_form.html.twig') }}

    <a href="{{ path('app_zona_index') }}" class="btn-nuevo">Volver</a>
{% endblock %}
