<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    
        {# <link rel="stylesheet" href="{{ asset('../vendor/twbs/boostrap/dist/css/bootstrap.css') }}"> #}
        <link rel="stylesheet" href="{{ asset('/css/estilos.css') }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
